<h1 class="head">assignment 8 </h1>

<div class="container w-80 p-4 flex flex-column d-flex justify-content-center">

<button (click)="show() ">click</button>

<h1  *ngIf="control1" ><button *ngFor="let a of num2" style="background-color:red ;">{{a}}</button></h1>

<h1  *ngIf="control" >

    <h1 style="display: none;">{{num1|chaskTs}}</h1>

    <button *ngFor="let a of num1" style="background-color:green ;">{{a}}</button></h1>




</div>
