<button class="btn btn-primary" (click)="onToggleDetails()">Display Details</button>
<p *ngIf="showsecret">secret Password=tuna</p>
<div
   *ngFor="let logitem of log"
   [ngStyle] ="{backgroundcolor: logitem>=5 ? 'blue' : 'transparent'}"
   [ngClass]="{'white-text' : logitem >=5}"
   >{{ logitem}}</div>
   
