<label>username</label>
<input type ="text" class="form-control" [(ngModel)]="userName" >
<p>{{userName}}</p>
<button class="btn btn-primary"[disabled]="userName===''" (click)="userName=''">Reset User</button>
