<app-game-control (intervalFired)="oninterval($event)"></app-game-control>
<app-odd *ngFor="let oddNumber of oddnumber" [number2]="oddNumber"></app-odd>
<app-even *ngFor="let evenNumber of evennumbers" [number]="evenNumber"></app-even>
