
<div class="container w-25 p-3 flex flex-column d-flex justify-content-center">
    <form (ngSubmit)="getData()" [formGroup]="form">
        <div class="form-group">
            <label for="name">Username</label>
            <input
              id="name"
              type="text"
              class="form-control"
              formcontrolName="username"
              />
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input
              id="email"
              type="text"
              class="form-control"
              formcontrolName="username"
              />
        </div>
        <div class="form-group">
            <label for="pass">Pass</label>
            <input
              id="pass"
              type="text"
              class="form-control"
              formcontrolName="username"
              />
        </div>
        <div class="form-group">
            <label for="gender">Gender</label>
            <select id="gender" class="form-control" formcontrolName="gender">
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
        </div>
        <button class="btn btn-danger" type="submit">Create</button>
    </form>
</div>
