<p>assignment6 works!</p>


<div class="form">
    <h4 id="registerForm">Registration Form</h4>
    <form (ngSubmit)="onsubmit(myform)" #myform="ngForm">
      <div
        class="group"
        ngModelGroup="personalDetails"
        #personalDetails="ngModelGroup"
      >
        <label for="fname">Firstname:</label>
        <input
          type="text"
          id="fname"
          placeholder="Your name...."
          name="firstname"
          ngModel
          required
          #fname="ngModel"
        />
        <div>
          <small *ngIf="fname.invalid && fname.touched"
            >Firstname is are required Failed !</small
          >
          <!-- <span *ngIf="firstname">You entered {{ firstname }}</span> -->
        </div>
        <label for="lname">Lastname:</label>
        <input
          type="text"
          id="lname"
          placeholder="Your lastname..."
          name="lastname"
          ngModel
          required
        />
        <div>
          <!-- <span *ngIf="lastname">You entered {{ lastname }}</span> -->
        </div>
        <label for="email">Email :</label>
        <input
          type="text"
          id="email"
          name="email"
          placeholder="Your email.."
          name="email"
          ngModel
          required
          email
        />
        <button (click)="defaultValues()">defaultValues</button>
        <small *ngIf="personalDetails.invalid && personalDetails.touched"
          >Some of the required field not valid !</small
        >
      </div>
      <!-- [(ngModel)]="defaultcountry" -->
      <label for="country">Country</label>
      <select name="country" id="country" [ngModel]="defaultCountry">
        <option value="india">India</option>
        <option value="america">America</option>
        <option value="canada">canada</option>
        <option value="uk">uk</option>
        <option value="china">china</option>
      </select>
      <br />
      <label for="gender">Gender</label>
      <span *ngFor="let gen of gender">
        <input
          type="radio"
          id="{{ gen.id }}"
          value="{{ gen.value }}"
          name="gender"
          [ngModel]="defaultgender"
        />
        <label for="male">{{ gen.value }}</label>
      </span>
  
      <label>Hobbies</label>
      <div class="form-inline">
        <label
          ><input
            type="checkbox"
            value="sports"
            name="hobbies"
            ngModel
          />sports</label
        >
        <label
          ><input
            type="checkbox"
            value="movie"
            name="hobbies"
            ngModel
          />Movies</label
        >
        <label
          ><input
            type="checkbox"
            value="music"
            name="hobbies"
            ngModel
          />Music</label
        >
      </div>
      <input
        class="btn btn-success"
        type="submit"
        value="submit"
        id="btn"
        [disabled]="!myform.valid"
      />
    </form>
  </div>
  
  <div class="form-data">
    <h3>formData</h3>
    <p>
      firstname:<b>{{ firstname }}</b>
    </p>
    <p>
      lastname:<b>{{ lastname }}</b>
    </p>
    <p>
      email:<b>{{ email }}</b>
    </p>
    <p>
      country:<b>{{ country }}</b>
    </p>
    <p>
      Gender:<b>{{ gen }}</b>
    </p>
  </div>
  