 <hr>
<h1>Assignment-1</h1>
<app-warning-alert></app-warning-alert>
<app-success-alert></app-success-alert>

<hr>
<h1>Assignment-2</h1>
<app-assignment></app-assignment>


<hr>
<h1>Assignment-3</h1>
<app-assignment3></app-assignment3>

<hr>
<h1>Assignment-4</h1>
<app-assignment4></app-assignment4>

<app-assignment5></app-assignment5>

<hr>
<h2>Assignment-6</h2>
<app-assignment6></app-assignment6>
<hr>

<hr>
<h1>Assignment-7</h1>
<app-assignment7></app-assignment7>

<hr>
<h1>Assignment-8</h1>
<app-assignment8></app-assignment8>



